.Card {
  margin: 15px;
  width: 40vh;
  height: 40vh;
  display: flex;
  opacity: .7;
}
.Card:hover{
 transition: 0.8s;
  opacity: 1;
}
.Area {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.Img {
  margin: 5px;
  max-width: 39vh;
  max-height: 175px;
}
