.App {
  text-align: center;
}

/* .nav-link {
  margin: 7px;
} */

.menu-link {
  text-decoration: none;
  color: black;
}

.logo-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu-bar {
  background-color: #96d94a;
  border-radius: 7px;
}

.volUp {
  color: rgb(0, 132, 255);
  margin-left: 7px;
}

.volDown {
  color: red;
  margin-left: 7px;
}
