.Container {
  display: flex !important;
  justify-content: space-around !important;
  flex-wrap: wrap !important;
  background-position: center;
  min-height: 100vh;
  -moz-background-size: 100%; 
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  margin-top: 0px;
}

  .Home {
    background-image: url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616533898_27-p-fon-dlya-yutuba-31.jpg);
    /*распределяем картинку на весь экран*/
    background-position: center;
    min-height: 100vh;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    margin-top: 0px;
  }
  .img {
    height: 100%;
    max-height: 30vh;
    opacity: 1.0;
  }
  
  .Card {
    /* margin-top: 10px; */
    margin: 15px;
    opacity: .6;
  }
  .Card:hover {
    opacity: 1.0;
    
  }  
  