.Card {
  margin-top: 15px;
  opacity: .5;
  color: black !important;
}
.Card:hover {
  cursor: pointer;
  transition: 0.8s;
  opacity: 1.0;
}

.Container {
  display: flex !important;
  justify-content: space-around !important;
  flex-wrap: wrap !important;
}
